[package]
name = "rspc"
description = "A blazing fast and easy to use TRPC server for Rust."
version = "0.2.0"
authors = ["Oscar Beaumont <oscar@otbeaumont.me>"]
edition = "2021"
license = "MIT"
include = ["/src", "/LICENCE", "/README.md"]
repository = "https://github.com/oscartbeaumont/rspc"
documentation = "https://docs.rs/rspc/latest/rspc"
keywords = ["async", "specta", "rust-to-ts", "typescript", "typesafe"]
categories = ["web-programming", "asynchronous"]

# /bin/sh RUSTDOCFLAGS="--cfg docsrs2" cargo +nightly doc --all-features
[package.metadata."docs.rs"]
all-features = true
rustdoc-args = [
    "--cfg",
    "docsrs2",
] # TODO: Rename to `docsrs` once Tokio fixes https://github.com/tokio-rs/tokio/pull/6360

[features]
default = []
specta2 = ["dep:specta2"]
tracing = ["dep:tracing"]

[dependencies]
specta = { version = "1.0.5", features = ["serde", "typescript"] }
specta2 = { package = "specta", optional = true, version = "=2.0.0-rc.11", features = [
    "serde",
    "typescript",
    "interop",
] }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133" # TODO: Drop this
thiserror = "2.0.3"
futures = "0.3.31"
tokio = { version = "1.41.1", features = ["sync", "rt", "macros"] }
tracing = { version = "0.1.40", optional = true }

[workspace]
members = ["./crates/*", "./examples", "./examples/axum"]

[patch.crates-io]
# Interop support
specta = { git = "https://github.com/oscartbeaumont/specta", rev = "d32f7189246e821f1152c0b78d43fcc3eebfd8fd" }
