[package]
name = "rspc"
description = "A blazing fast and easy to use TRPC server for Rust."
version = "0.2.0"
authors = ["Oscar Beaumont <oscar@otbeaumont.me>"]
edition = "2021"
license = "MIT"
include = ["/src", "/LICENCE", "/README.md"]
repository = "https://github.com/oscartbeaumont/rspc"
documentation = "https://docs.rs/rspc/latest/rspc"
keywords = ["async", "specta", "rust-to-ts", "typescript", "typesafe"]
categories = ["web-programming", "asynchronous"]

# /bin/sh RUSTDOCFLAGS="--cfg docsrs2" cargo +nightly doc --all-features
[package.metadata."docs.rs"]
all-features = true
rustdoc-args = [
    "--cfg",
    "docsrs2",
] # TODO: Rename to `docsrs` once Tokio fixes https://github.com/tokio-rs/tokio/pull/6360

[features]
default = []
tracing = ["dep:tracing"]

[dependencies]
specta = { version = "1.0.5", features = ["serde", "typescript"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"                                              # TODO: Drop this
thiserror = "1.0.58"
futures = "0.3.30"
tokio = { version = "1.36.0", features = ["sync", "rt", "macros"] }
tracing = { version = "0.1.40", optional = true }

[workspace]
members = ["./crates/*", "./examples", "./examples/axum"]
