---
import PageLayout from "../layouts/Layout";
import { getPageData } from "../utils";

export async function getStaticPaths() {
  const pages = await getPageData();

  return await Promise.all(
    [...pages.values()].map(async (p) => ({
      params: { slug: p.url === "" ? undefined : p.url },
      props: { html: p.html },
    }))
  );
}
---

<!DOCTYPE html>
<PageLayout activePath={Astro.url.pathname}>
  <div class="markdown" set:html={Astro.props.html}></div>

  <script src="../utils/router.ts"></script>
</PageLayout>
