---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content="0; URL=https://discord.gg/4V9M5sksw8" />
    <title>rspc + PCR Discord Invite</title>
  </head>
  <body>
    <h1>Redirecting to Discord...</h1>
  </body>
</html>
