---
import LandingPage from "../layouts/Layout.astro";
import { config } from "../config";
---

<!DOCTYPE html>
<LandingPage title={config.seo.title}>
  <main>
    <section>
      <div class="">
        <div class="relative w-full h-full py-8 md:py-16 z-0">
          <div
            class="absolute top-18 left-[10%] lg:left-[33%] w-36 h-36 sm:w-48 sm:h-48 lg:w-72 lg:h-72 bg-sky-400 opacity-40 dark:opacity-30 mix-blend-overlay rounded-full filter blur-xl animate-blob -z-10 select-none touch-none"
          >
          </div>
          <div
            class="absolute top-18 right-[10%] lg:right-[33%] w-36 h-36 sm:w-48 sm:h-48 lg:w-72 lg:h-72 bg-sky-400 opacity-40 dark:opacity-30 mix-blend-overlay rounded-full filter blur-xl animate-blob animation-delay-2000 -z-10 select-none touch-none"
          >
          </div>
          <div
            class="absolute bottom-15 sm:bottom-8 right-[33%] sm:right-[38%] lg:right-[42%] lg:bottom-14 w-36 h-36 sm:w-48 sm:h-48 lg:w-72 lg:h-72 bg-sky-400 opacity-40 dark:opacity-30 mix-blend-overlay rounded-full filter blur-xl animate-blob animation-delay-4000 -z-10 select-none touch-none"
          >
          </div>
          <div class="mx-auto max-w-8xl lg:px-8">
            <div class="flex flex-col items-center justify-center text-center">
              <div
                class="mx-auto max-w-md px-4 sm:max-w-2xl md:max-w-xl sm:px-6 sm:text-center lg:px-0 lg:flex lg:items-center"
              >
                <div class="lg:py-12 flex flex-col items-start justify-between">
                  <div>
                    <h1
                      class="mt-0 text-6xl tracking-tight font-bold text-black dark:text-white sm:mt-5 sm:text-6xl sm:tracking-tight lg:mt-6 xl:text-7xl xl:tracking-tight"
                    >
                      rspc
                    </h1>
                    <h2
                      class="mt-4 text-2xl tracking-tight font-bold text-black dark:text-white sm:mt-5 sm:text-3xl sm:tracking-tight lg:mt-6 xl:text-4xl xl:tracking-tight"
                    >
                      The best way to build <span
                        class="text-sky-600 dark:text-sky-200">typesafe</span
                      > APIs with Rust
                    </h2>
                  </div>

                  <div
                    class="flex flex-col items-center justify-center mt-8 w-full"
                  >
                    <div
                      class="flex items-center justify-center w-full gap-4 max-w-xs"
                    >
                      <a
                        href="/overview"
                        rel="prefetch"
                        class="inline-flex items-center rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base cursor-pointer hover:no-underline"
                      >
                        <span
                          class="group inline-flex items-center px-5 py-3 text-slate-800 text-sm font-semibold leading-5 bg-sky-300 rounded-full transition justify-between hover:bg-sky-400"
                        >
                          Documentation
                          <svg
                            class="mt-0.5 h-3 ml-2 -mr-1 stroke-current stroke stroke-2"
                            fill="none"
                            viewBox="0 0 10 10"
                            aria-hidden="true"
                          >
                            <path
                              class="opacity-0 transition group-hover:opacity-100"
                              d="M0 5h7"></path>
                            <path
                              class="transition group-hover:translate-x-[3px]"
                              d="M1 1l4 4-4 4"></path>
                          </svg>
                        </span>
                      </a>
                      <a
                        href={config.repository}
                        rel="noopener noreferrer"
                        class="inline-flex items-center rounded-full px-5 py-3 font-semibold sm:text-base lg:text-sm xl:text-base cursor-pointer bg-zinc-200 dark:bg-slate-300 hover:bg-white/50 hover:no-underline"
                      >
                        <span
                          class="ml-1 px-2 py-0.5 text-sm flex items-center justify-between text-black"
                        >
                          GitHub
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"
                            class="h-3 ml-2 fill-black"
                          >
                            <path
                              d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
                            ></path>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</LandingPage>
