---
import * as CONFIG from "../../config.ts";
import AstroLogo from "./AstroLogo.astro";
import SkipToContent from "./SkipToContent.astro";
import SidebarToggle from "./SidebarToggle.tsx";
import Icon from "astro-icon";
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title="Top Navigation">
		<div class="menu-toggle">
			<SidebarToggle client:idle />
		</div>
		<a href="/" class="link preload">
			<Icon name="logo" height="40px" alt={`${CONFIG.SITE.title} logo`} />
			<h1>{CONFIG.SITE.title}</h1>
		</a>
		<div style="flex-grow: 1;"></div>
	</nav>
</header>

<style>
	header {
		z-index: 11;
		height: var(--theme-navbar-height);
		width: 100%;
		background-color: var(--theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	.link {
		display: flex;
		text-decoration: none;
		color: inherit;
	}

	.link:hover {
		text-decoration: none;
	}

	.link h1 {
		font-size: 2.5rem;
		padding-left: 18px;
	}

	.logo h1 {
		display: none;
		font: inherit;
		color: inherit;
		margin: 0;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 82em;
		padding: 0 1rem;
	}

	@media (min-width: 50em) {
		header {
			display: none;
		}
	}
</style>
