---
import clsx from "clsx";
import { Icon } from "astro-icon";
import { config } from "../config";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={clsx("items-center", className)}>
  {
    config.header?.links?.map((link) => {
      // @ts-expect-error
      let icon = link?.icon ? (
        <Icon
          name={(link as any).icon}
          class="h-7 w-7 opacity-80 hover:opacity-100 fill-black dark:fill-white"
          width="1.75rem"
          height="1.75rem"
        />
      ) : (
        // @ts-expect-error
        <link.customIcon
          className="h-7 w-7 opacity-80 hover:opacity-100 fill-black dark:fill-white"
          width="1.75rem"
          height="1.75rem"
        />
      );

      return (
        <a
          href={link.href}
          class="mx-2"
          aria-label={link.alt}
          target="_black"
          rel="noreferrer noopener"
        >
          {icon}
        </a>
      );
    })
  }
</div>
