---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
  title: string;
}

let { headings, title } = Astro.props;
headings = [{ depth: 2, slug: "overview", text: title }, ...headings].filter(
  ({ depth }) => depth > 1 && depth < 4
);
---

<div>
  <h2
    class="text-lg mb-4 font-semibold dark:text-sky-50 text-slate-900"
    id="toc-heading"
  >
    On this page
  </h2>
  <ul class="w-full marker:text-sky-300 mb-4 list-none">
    {
      headings.map((heading) => {
        const { depth, slug, text } = heading;

        return (
          <li
            class={`pl-${
              depth * 2 - 2
            } border-sky-300/20 w-full list-none border-l-2 pb-1`}
          >
            <a
              class="hover:text-sky-700 dark:hover:text-sky-100 text-sky-500 dark:text-sky-200"
              href={`#${slug}`}
            >
              {text}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
