.markdown h1 {
    font-size: 3.5rem !important;
}

.markdown h2 {
    font-size: 2rem !important;
}

.markdown pre {
    background-color: #0E0F11 !important;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-bottom: 0.75rem !important;
}

.markdown code {
    background-color: #0E0F11 !important;
    border-radius: 0.5rem;
    padding: 0.3rem !important;
}

.markdown strong {
    padding-left: 0.3rem;
}